@import "tailwindcss";

@theme {
  --color-primary: oklch(0.59 0.2223 268.91);
  --color-primary-dark: oklch(0.5 0.2223 268.91);
  --color-secondary: oklch(0.76 0.1811 155.62);
  --color-dark: oklch(0.21 0.0542 270.26);
  --color-darker: oklch(0.16 0.0409 269.62);
  --color-darkest: oklch(0.14 0.0317 270.28);
  --color-light: oklch(0.96 0.0182 269.09);
}

/* Custom base styles */
@layer base {
  body {
    @apply bg-slate-900 text-slate-100 font-sans;
  }
}
