@import "tailwindcss";

@theme {
  --color-primary: rgb(74, 107, 255);
  --color-secondary: rgb(21, 208, 124);
  --color-dark: rgb(15, 22, 49);
  --color-darker: rgb(7, 12, 31);
  --color-darkest: rgb(5, 8, 22);
  --color-light: rgb(237, 242, 255);
}

/* Custom base styles */
@layer base {
  body {
    @apply bg-slate-900 text-slate-100 font-sans;
  }
}
