@import "tailwindcss";

@theme {
  --color-primary: oklch(0.59 0.2223 268.91);
  --color-primary-dark: oklch(0.5 0.2223 268.91);
  --color-secondary: oklch(0.76 0.1811 155.62);
  --color-dark: oklch(0.21 0.0542 270.26);
  --color-darker: oklch(0.16 0.0409 269.62);
  --color-darkest: oklch(0.14 0.0317 270.28);
  --color-light: oklch(0.96 0.0182 269.09);
}

/* Custom base styles */
@layer base {
  body {
    @apply bg-slate-900 text-slate-100 font-sans;
  }
}

@layer components {

  /* Common button styles used across the application */
  .btn-primary {
    @apply inline-block px-5 py-3 bg-primary text-slate-100 font-medium rounded-lg text-center transition-all duration-300
    hover:bg-primary/90 hover:transform-[translateY(-2px)] hover:shadow-lg hover:shadow-primary/30 ;
  }

  .btn-secondary {
    @apply inline-block px-5 py-3 bg-transparent border border-primary text-slate-100 font-medium rounded-lg text-center transition-all duration-300
    hover:bg-primary/10 hover:transform-[translateY(-2px)];
  }

  /* Card styles */
  .app-card {
    @apply bg-gradient-to-br from-dark/80 to-darker/95 rounded-xl shadow-lg
    border border-primary/20 backdrop-blur-sm;
  }

  /* Auth cards for login and register pages */
  .auth-card {
    @apply bg-gradient-to-br from-dark/80 to-darker/95 rounded-xl shadow-lg
    border border-primary/20 w-full max-w-450 p-12 text-center backdrop-blur-sm;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .auth-card {
      @apply p-8;
    }
  }

}
